@utility container {
  max-width: var(--max-width-container);
  margin-inline: auto;
  width: 100%;
}

@utility scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

@utility card-interactive {
  @apply isolate ring-1 ring-transparent transition duration-300;

  &:hover {
    @apply shadow-md/3 ring-card;

    /* &::before {
      inset: -0.25rem;
    } */
  }
}

@utility font-display {
  font-family: var(--font-display);
}
