@utility container {
  width: 100%;
  max-width: var(--max-width-container);
  margin-inline: auto;
}

@utility scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

@utility card-interactive {
  @apply isolate ring-1 ring-transparent transition duration-300;

  &:hover {
    @apply ring-card shadow-md/3;

    /* &::before {
      inset: -0.25rem;
    } */
  }
}
