:root {
  --color-neutral-50: oklch(98.5% 0.001 144.41);
  --color-neutral-100: oklch(96.623% 0.00188 144.41);
  --color-neutral-200: oklch(91.546% 0.00476 86.704);
  --color-neutral-300: oklch(85.769% 0.00764 94.353);
  --color-neutral-400: oklch(69.393% 0.01352 94.246);
  --color-neutral-500: oklch(53.416% 0.0174 96.058);
  --color-neutral-600: oklch(42.139% 0.01628 111.63);
  --color-neutral-700: oklch(34.762% 0.01616 105.55);
  --color-neutral-800: oklch(23.785% 0.01404 72.285);
  --color-neutral-900: oklch(18.208% 0.01392 94.03);
  --color-neutral-950: oklch(14.7% 0.004 87.237);

  --max-width-container: var(--breakpoint-xl);
  --radius: 0.25rem;

  /** Branding */

  --primary: oklch(50.5% 0.213 27.518);
  --primary-foreground: oklch(97.1% 0.013 17.38);
  --secondary: oklch(97% 0.001 106.424);
  --secondary-foreground: oklch(21.6% 0.006 56.043);
  --accent: oklch(97% 0.001 106.424);
  --accent-foreground: oklch(21.6% 0.006 56.043);
  --muted: oklch(97% 0.001 106.424);
  --muted-foreground: oklch(55.3% 0.013 58.071);

  --background: oklch(100% 0 0);
  --foreground: oklch(14.7% 0.004 49.25);
  --destructive: oklch(57.7% 0.245 27.325);
  --destructive-foreground: oklch(97.1% 0.013 17.38);
  --info: oklch(54.6% 0.245 262.881);
  --info-foreground: oklch(97% 0.014 254.604);
  --success: oklch(52.7% 0.154 150.069);
  --success-foreground: oklch(98.2% 0.018 155.826);
  --warning: oklch(68.1% 0.162 75.834);
  --warning-foreground: oklch(14.7% 0.004 49.25);

  /** General */

  --border: oklch(92.3% 0.003 48.717);
  --border-foreground: color-mix(
    in oklab,
    var(--color-foreground) 2.5%,
    transparent
  );
  --input: oklch(92.3% 0.003 48.717);
  --ring: oklch(70.4% 0.191 22.216);

  /** UI */

  --card: oklch(97% 0.001 106.424);
  --card-foreground: oklch(14.7% 0.004 49.25);

  --chart-1: oklch(80.8% 0.114 19.571);
  --chart-2: oklch(63.7% 0.237 25.331);
  --chart-3: oklch(57.7% 0.245 27.325);
  --chart-4: oklch(50.5% 0.213 27.518);
  --chart-5: oklch(44.4% 0.177 26.899);

  --popover: oklch(97% 0.001 106.424);
  --popover-foreground: oklch(14.7% 0.004 49.25);

  --sidebar: oklch(98.5% 0.001 106.423);
  --sidebar-foreground: oklch(14.7% 0.004 49.25);
  --sidebar-primary: oklch(57.7% 0.245 27.325);
  --sidebar-primary-foreground: oklch(97.1% 0.013 17.38);
  --sidebar-accent: oklch(97% 0.001 106.424);
  --sidebar-accent-foreground: oklch(21.6% 0.006 56.043);
  --sidebar-border: oklch(92.3% 0.003 48.717);
  --sidebar-ring: oklch(70.4% 0.191 22.216);

  /** Layout Spacing */
  --spacing-section: 3rem;
  --spacing-card: 1.5rem;
  --spacing-content: 1.5rem;
  --spacing-page-x: 1rem;
  --spacing-page-x-sm: 1.5rem;
  --spacing-page-x-lg: 2rem;
}

.dark {
  /** Branding */

  --primary: oklch(57.7% 0.245 27.325);
  --primary-foreground: oklch(97.1% 0.013 17.38);
  --secondary: oklch(26.8% 0.007 34.298);
  --secondary-foreground: oklch(98.5% 0.001 106.423);
  --accent: oklch(37.4% 0.01 67.558);
  --accent-foreground: oklch(98.5% 0.001 106.423);
  --muted: oklch(26.8% 0.007 34.298);
  --muted-foreground: oklch(86.9% 0.005 56.366);

  --background: oklch(14.7% 0.004 49.25);
  --foreground: oklch(98.5% 0.001 106.423);
  --destructive: oklch(70.4% 0.191 22.216);
  --destructive-foreground: oklch(98.5% 0.001 106.423);
  --info: oklch(62.3% 0.214 259.815);
  --info-foreground: oklch(97% 0.014 254.604);
  --success: oklch(62.7% 0.194 149.214);
  --success-foreground: oklch(98.2% 0.018 155.826);
  --warning: oklch(79.5% 0.184 86.047);
  --warning-foreground: oklch(14.7% 0.004 49.25);

  /** General */
  --border: oklch(100% 0 0 / 10%);
  --input: oklch(100% 0 0 / 10%);
  --ring: oklch(39.6% 0.141 25.723);

  /** UI */

  --card: oklch(21.6% 0.006 56.043);
  --card-foreground: oklch(98.5% 0.001 106.423);

  --chart-1: oklch(80.8% 0.114 19.571);
  --chart-2: oklch(63.7% 0.237 25.331);
  --chart-3: oklch(57.7% 0.245 27.325);
  --chart-4: oklch(50.5% 0.213 27.518);
  --chart-5: oklch(44.4% 0.177 26.899);

  --popover: oklch(26.8% 0.007 34.298);
  --popover-foreground: oklch(98.5% 0.001 106.423);

  --sidebar: oklch(21.6% 0.006 56.043);
  --sidebar-foreground: oklch(98.5% 0.001 106.423);
  --sidebar-primary: oklch(63.7% 0.237 25.331);
  --sidebar-primary-foreground: oklch(97.1% 0.013 17.38);
  --sidebar-accent: oklch(26.8% 0.007 34.298);
  --sidebar-accent-foreground: oklch(98.5% 0.001 106.423);
  --sidebar-border: oklch(100% 0 0 / 10%);
  --sidebar-ring: oklch(39.6% 0.141 25.723);

  /** Layout Spacing */
  --spacing-section: 3rem;
  --spacing-card: 1.5rem;
  --spacing-content: 1.5rem;
  --spacing-page-x: 1rem;
  --spacing-page-x-sm: 1.5rem;
  --spacing-page-x-lg: 2rem;
}
