:root {
  --max-width-container: var(--breakpoint-xl);
  --radius: 0.5rem;

  /** Branding */

  --primary: oklch(0.577 0.245 27.325);
  --primary-foreground: oklch(0.971 0.013 17.38);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);

  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(1 0 0);
  --info: oklch(0.577 0.245 250);
  --info-foreground: oklch(0.985 0 0);
  --success: oklch(0.577 0.245 150);
  --success-foreground: oklch(0.985 0 0);
  --warning: oklch(0.704 0.191 80);
  --warning-foreground: oklch(0.145 0 0);

  /** General */

  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.704 0.191 22.216);

  /** UI */

  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);

  --chart-1: oklch(0.808 0.114 19.571);
  --chart-2: oklch(0.637 0.237 25.331);
  --chart-3: oklch(0.577 0.245 27.325);
  --chart-4: oklch(0.505 0.213 27.518);
  --chart-5: oklch(0.444 0.177 26.899);

  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);

  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.577 0.245 27.325);
  --sidebar-primary-foreground: oklch(0.971 0.013 17.38);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.704 0.191 22.216);

  /** Layout Spacing */
  --spacing-section: 3rem;
  --spacing-card: 1.5rem;
  --spacing-content: 1.5rem;
  --spacing-page-x: 1rem;
  --spacing-page-x-sm: 1.5rem;
  --spacing-page-x-lg: 2rem;
}

.dark {
  /** Branding */

  --primary: oklch(0.637 0.237 25.331);
  --primary-foreground: oklch(0.971 0.013 17.38);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --accent: oklch(0.371 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);

  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --destructive-foreground: oklch(0.985 0 0);
  --info: oklch(0.637 0.237 250);
  --info-foreground: oklch(0.985 0 0);
  --success: oklch(0.637 0.237 150);
  --success-foreground: oklch(0.985 0 0);
  --warning: oklch(0.808 0.114 80);
  --warning-foreground: oklch(0.145 0 0);

  /** General */
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.396 0.141 25.723);

  /** UI */

  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);

  --chart-1: oklch(0.808 0.114 19.571);
  --chart-2: oklch(0.637 0.237 25.331);
  --chart-3: oklch(0.577 0.245 27.325);
  --chart-4: oklch(0.505 0.213 27.518);
  --chart-5: oklch(0.444 0.177 26.899);

  --popover: oklch(0.269 0 0);
  --popover-foreground: oklch(0.985 0 0);

  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.637 0.237 25.331);
  --sidebar-primary-foreground: oklch(0.971 0.013 17.38);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.396 0.141 25.723);

  /** Layout Spacing */
  --spacing-section: 3rem;
  --spacing-card: 1.5rem;
  --spacing-content: 1.5rem;
  --spacing-page-x: 1rem;
  --spacing-page-x-sm: 1.5rem;
  --spacing-page-x-lg: 2rem;
}
